{lib_dirs, ["deps"]}.

{erl_opts, [
    % native,
    debug_info, 
    fail_on_warning, 
    {parse_transform, lager_transform}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.


{deps, [
	{nkpacket, ".*", {git, "https://github.com/stbmid/nkpacket", {tag, "v0.6.1"}}},
	% {nkdocker, ".*", {git, "http://github.com/nekso/nkdocker", {branch, "develop"}}},
	{luerl, ".*", {git, "https://github.com/stbmid/luerl", {branch, "develop"}}}
]}.



